/* Skelett */

html, body {
    height: 100%;
    margin: 0%;
    --mainColor: #ffe38f;
    color: #222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: grid;
    grid-template: 100px 1fr 80px / auto;
}

/* Header */

header {
    position: relative;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 400px;
    align-items: center;
    box-shadow: 0px 1px 3px 0px #00000010;
    padding: 0px 15vh;
    font-size: 2.5rem;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

button{
    width: 100px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    padding: 12px;
    border: none;
    background-color: var(--mainColor);
}

button:hover {
    background-color: #e0c36b;
}

input {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: 1px solid var(--mainColor);
    padding: 5px 20px;
    font-size: 0.8rem;

}

/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000010;
}

.appContainer {
    background-color: white;
    box-shadow: 0px 1px 3px 0px #00000010;
    border-radius: 20px;
    padding: 50px;
}

/* APP */

.fieldCluster.white {
    background-color: #00000010;
}

.fieldCluster.black {
    background-color: #00000080;
}

.fieldCluster {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
}

.board {
    position: relative;
    display: grid;
    grid-template: repeat(8, auto) / repeat(8, auto);
    border: 20px solid;
    border-radius: 30px;
}

img {
    width: 60px;
    padding: 7px;
}

img:hover {
    background-color: var(--mainColor);
    padding: 0px;
    width: 75px;
}

/* Footer */

footer {
    position: relative;
    box-shadow: 0px -1px 3px 0px #00000010;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
}
